@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Roboto+Serif:opsz,wght@8..144,200&display=swap');

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
  align-self: center;
  margin-bottom: .5rem;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 6rem 2rem;
  }

  .content {
    padding: 4rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.placeOder {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.contact {
  list-style-position: inside;
  margin-top: .5rem;
}

.quickAccess {
  font-family: 'Dosis', sans-serif;
  position: fixed;
  bottom: 2rem;
  right: 0;
  padding: 1rem 1.4rem;
  border-radius: .3rem 0 0 .3rem;
  background: rgb(70, 144, 72);
  transform: translateX(70%);
  transition: all .5s ease;
}

.order {
  opacity: 0;
  transition: all .5s ease;
}

.call {
  position: absolute;
  left: 0;
  transform: rotate(-90deg);
  transition: all .5s ease;
}

.quickAccess:hover {
  transform: translateX(0);
}

.quickAccess:hover .call {
  opacity: 0;
}

.quickAccess:hover .order {
  opacity: 1;
}

.viewMenu {
  z-index: 1;
  align-self: center;
  background: var(--third-glow);
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  font-family: 'Dosis', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  align-self: center;
}
